#maze-container {
  margin-top: 20px;
  display: flex;
  gap: 6px;
}

#maze-container .flex-start {
  align-self: flex-start;
  padding-top: 2px;
}

#maze-container .flex-end {
  align-self: flex-end;
  padding-bottom: 5px;
}

#maze {
  display: flex;
  flex-direction: column;
}

#maze > div {
  display: flex;
}

#maze .row {
  width: fit-content;
  height: 20px;
}

#maze .col {
  width: 20px;
}

#maze .row:nth-child(odd),
#maze .col:nth-child(odd) {
  background-color: black;
}

#maze .row:nth-child(odd) {
  height: 3px;
}

#maze .col:nth-child(odd) {
  width: 3px;
}

#maze .col.white {
  background-color: white;
}

/* #maze .row:nth-child(2) > .col:first-child,
#maze .row:nth-last-child(2) > .col:last-child {
  background-color: white;
} */
